a
{
    color: white;
    transition: all .5s;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
}

a:hover
{
    background-color: aliceblue;
    color: #52B9C8;
    font-weight: 600;
}